<section class="py-5">
    <header class="py-3">
        <h2 class="text-center pt-5 pb-1">ABOUT</h2>
        <div class="d-flex justify-content-center pb-4">
            <div class="star"><i class="fas fa-star fs-2"></i></div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="px-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, earum mollitia amet quasi aut quod sapiente, aspernatur perferendis repellendus neque beatae commodi sit nisi nemo atque impedit temporibus ipsum quidem ipsam pariatur eaque facere itaque
                    consequuntur aperiam? Tempore dolor deleniti reprehenderit dolores ipsa magni quod quisquam hic officia voluptatem voluptas doloremque dolorem incidunt non distinctio cumque accusantium minus ut nulla odit, ea aut id cum laboriosam.
                </p>
            </div>
            <div class="col-md-6">
                <p class="px-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, earum mollitia amet quasi aut quod sapiente, aspernatur perferendis repellendus neque beatae commodi sit nisi nemo atque impedit temporibus ipsum quidem ipsam pariatur eaque facere itaque
                    consequuntur aperiam? Tempore dolor deleniti reprehenderit dolores ipsa magni quod quisquam hic officia voluptatem voluptas doloremque dolorem incidunt non distinctio cumque accusantium minus ut nulla odit, ea aut id cum laboriosam.
                </p>
            </div>

        </div>
    </div>
</section>